/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styling */

body {
  font-family: 'Lato', sans-serif !important;
}

.navbar {
  padding-bottom: 10px;
}

.jumbotron {
  margin-bottom: 3%;
  width: 100% !important;
  clear: both;
  background-color: #8e2742;
}

.jumbotron .logo {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  height: 280px;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

.current-season-header {
  text-align: center;
}

.footer {
  background-color: #8e2742;
  padding: 30px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.logo-footer img {
  width: 150px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.footer a {
  color: #fff;
}

.th {
  text-align: center;
}

.footer .col-sm-12 {
  margin-bottom: 25px;
}

.footer h2 {
  color: #fff;

  font-size: 30px;
}

.footer .location {
  margin-top: 15px;
  color: #fff;
}

.footer .newsletter {
  text-align: left;
}

.footer .newsletter .btn {
  color: #8e2742;
  background-color: #fff;
  margin-top: 10px
}

.footer p {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.pages {
  padding: 5px;
  float: right;
}

#sorticon {
  float: right;
  size: 10px;
}

.footer .footer-social li {
  display: inline-block;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
  
}

#searchbox {
  margin-bottom: 14px !important;
  padding: 0px !important;
  margin-top: 0 !important;
}

.main {
  border: #dee2e6 solid 1px;
  margin-top: 20px !important;
}

.main tr {
  border: #dee2e6 solid 1px;
}

.main table thead th {
  border-bottom: 2px solid #dee2e6;
}

.main th {
  border: #dee2e6 solid 1px;  
}

.main td {
  border: #dee2e6 solid 1px;
}

.main thead {
  background-color: #eceff1;
}

.active {
  background-color: #eceff1 !important;
}

.btn-primary {
  background-color: #8e2742 !important;
  border-color: #8e2742 !important; 
  margin: 10px;
  max-width: 110px;
}

.modal-content {
  border: 3px solid black;
  border-radius: 10px;
}

.close {
  margin: 0 !important;
  float: right !important;
  padding: 0 !important;
  opacity: 75%;
  line-height: 1;
}

.centered-text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.modal-header {
  border: 0 none !important;
  background-color: #8e2742;
}

.modal-footer {
  border: 0 none !important;
  background-color: black;
}

.modal-stats {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.zindex-1 {
  position: relative;
  z-index: 1;
}

.zindex-2 {
  position: relative;
  z-index: 2;
}

.modal-table {
  border: 1px solid black;
  position: relative;
  z-index: 2;
}

.bg {
  opacity: .6 !important;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.modal-table td {
  color: black;
  font-weight: bolder;
  font-size: 14px;
  border: none !important;
}

.modal-table th {
  color: black;
  font-weight: bolder;
  border: none !important;
  font-size: 14px;
}

.modal-pic {
  border: 1px solid black;
  height: 250px;
}

.video-wrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  overflow: hidden;
  height: auto;
  max-width: 100%;
  border: 1px solid black;
  z-index: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 1000px;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

#login-message {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}

#admin {
  padding: 5%;
}