/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styling */

body {
  font-family: 'Lato', sans-serif !important;
}

.navbar {
  padding-bottom: 10px;
}

.jumbotron {
  background-color: #8e2742 !important;
  margin-bottom: 3%;
  width: 100% !important;
  clear: both;
  
}

.jumbotron .logo {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  height: 280px;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

.current-season-header {
  text-align: center;
}

.footer {
  background-color: #8e2742;
  padding: 30px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.logo-footer img {
  width: 150px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.footer a {
  color: #fff;
}
.th {
  text-align: center;
}

.footer .col-sm-12 {
  margin-bottom: 25px;
}

.footer h2 {
  color: #fff;

  font-size: 30px;
}

.footer .location {
  margin-top: 15px;
  color: #fff;
}

.footer .newsletter {
  text-align: left;
}

.footer .newsletter .btn {
  color: #8e2742;
  background-color: #fff;
  margin-top: 10px
}

.footer p {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.pages {
  padding: 5px;
  float: right;
}

#sorticon {
  float: right;
  size: 10px;
}


.footer-social {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
.footer .footer-social ul {
  list-style: none;
  position: relative;
  left: 50%;
}

.footer .footer-social li {
  font-size: 20px;
  margin: 10px;
  float: left;
  text-align: center;
}

.footer .footer-social a {
  background-color: transparent;
  background: transparent;
  color: white;
  text-decoration: none;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
  
}

#searchbox {
  margin-bottom: 14px !important;
  padding: 0px !important;
  margin-top: 0 !important;
}

.table {
  border: #dee2e6 solid 1px;
  margin-top: 20px;
}

tr {
  border: #dee2e6 solid 1px;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
}
th {
  border: #dee2e6 solid 1px;  
}

td {
  border: #dee2e6 solid 1px;
}

thead {
  background-color: #eceff1;
}

.active {
  background-color: #eceff1 !important;
}

.no-stats {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn-primary {
  background-color: #8e2742 !important;
  border-color: #8e2742 !important; 
}

.modal-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.modal-header .close {
  margin: 0 !important;
  float: right !important;
}

